extends ../_template

mixin cases-row(title,image,textTitle,name,position,descr)
  //begin cases row
  .cases__row
    .cases__item.cases-img
      h3.cases-img__title.cases-img__title-grey= title
      .cases-img__inn
        h3.cases-img__title.cases-img__title-white= title
        img(src="assets/img/" + image alt="cases")

    .cases__item.cases-text
      h3.cases-text__title= textTitle
      h4.cases-text__name
        span= name
        =" "
        = position
      p= descr
      a(href="#").cases-text__link подробнее
  //end cases row

block variables
  - var title = 'Кейсы'
  - var pageHeaderTitle = 'Реализованные кейсы'

block content
  include ../sections/header
  
  //begin content
  section.main.cases
    //begin top-section
    .top-block
      .container-lg(style="background-image:url('assets/img/bg-cases-top.jpg')")
        include ../elements/breadcrumbs
        include ../elements/magnific
        include ../elements/top-block-mouse

        .container
          h2.top-block__title
            |Кейсы
            br
            |наших клиентов
    //end top-section

    //begin second-section
    section#second-section.cases-second
      .container
        +cases-row(
        'Кейс 1',
        'cases-01.jpg',
        'Директор по строительству фармацевтического холдинга',
        'Алекперова Екатерина,',
        'директор по продажам',
        'Закрытие вакансии Директора по строительству завода для крупного Фармацевтического холдинга. Директор по персоналу Холдинга обратилась к нам после нескольких месяцев безуспешного поиска.')

        +cases-row(
        'Кейс 2',
        'cases-02.jpg',
        'Hазвание сложного проекта',
        'Смельцова Александра,',
        'руководитель проектов Executive Search',
        'Самые сложные проекты в портфеле рекрутера часто оказываются самыми яркими и запоминающимися. Таковым стал для меня проект по подбору Бренд-Кондитера из Франции для крупнейшей и одной из самых известных в Петербурге ресторанной сети.')

        +cases-row(
        'Кейс 3',
        'cases-03.jpg',
        'Название кейса',
        'Бикбаева Ольга,',
        'руководитель специальных проектов',
        'Для многих руководителей и собственников бизнеса, основная задача это сформировать надежную команду, которая разделяет ценности Компании, успешно достигает поставленных результатов и которой можно доверять. Но как быть, когда руководитель понимает, что определенные бизнес-процессы идут в разрез тех ценностей, которые были изначально заложены в основе работы Компании.')

        +cases-row(
        'Кейс 4',
        'cases-04.jpg',
        'Название кейса',
        'Разгонова Анна,',
        'консультант по подбору персонала',
        'К нам в агентство обратилась владелица йога центра премиум класса, открывающегося в престижном районе города. Необходимо было найти Управляющего, способного открыть клуб, выстроить все бизнес процессы, и в дальнейшем заниматься развитием данного места.')

        +cases-row(
        'Кейс 5',
        'cases-05.jpg',
        'Название кейса',
        'Колмаков Сергей,',
        'консультант по подбору персонала',
        'Любой рекрутер подтвердит, что самые творческие проекты появляются во время работы на узком рынке. Чем меньше рынок, чем лучше все компании и их сотрудники знают друг друга, тем интереснее и сложнее работать по данному проекту. Недавно нашей команде удалось поучаствовать именно в таком проекте.')
    //end   second-section
  //end   content

  //include ../elements/popup
  include ../sections/footer